---
import Layout from "../layouts/Layout.astro";
import '@fontsource/dela-gothic-one';
import "@fontsource-variable/raleway";
import HeroImg from "../../public/img/hero.png";
---

<Layout title="Welcome to Astro.">
  <section class="bg-mainBg bg-center bg-cover h-screen">
    <header class="pt-6 flex items-center gap-5 container px-6 sm:px-16 sm:p-6 justify-between">
      <div class="logo flex items-center gap-4">
        <svg
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1_73)">
            <path
              d="M48.4375 23.4375H35.8242C35.4469 20.836 34.1451 18.4574 32.1574 16.7371C30.1696 15.0169 27.6288 14.0701 25 14.0701C22.3712 14.0701 19.8304 15.0169 17.8426 16.7371C15.8549 18.4574 14.5531 20.836 14.1758 23.4375H1.5625C1.1481 23.4375 0.750671 23.6021 0.457646 23.8952C0.16462 24.1882 0 24.5856 0 25C0 25.4144 0.16462 25.8118 0.457646 26.1049C0.750671 26.3979 1.1481 26.5625 1.5625 26.5625H14.1758C14.5531 29.1641 15.8549 31.5427 17.8426 33.2629C19.8304 34.9831 22.3712 35.9299 25 35.9299C27.6288 35.9299 30.1696 34.9831 32.1574 33.2629C34.1451 31.5427 35.4469 29.1641 35.8242 26.5625H48.4375C48.8519 26.5625 49.2493 26.3979 49.5424 26.1049C49.8354 25.8118 50 25.4144 50 25C50 24.5856 49.8354 24.1882 49.5424 23.8952C49.2493 23.6021 48.8519 23.4375 48.4375 23.4375ZM25 32.8125C23.4548 32.8125 21.9444 32.3543 20.6596 31.4959C19.3748 30.6374 18.3735 29.4173 17.7822 27.9897C17.1909 26.5622 17.0362 24.9913 17.3376 23.4759C17.6391 21.9604 18.3831 20.5683 19.4757 19.4757C20.5683 18.3831 21.9604 17.6391 23.4759 17.3376C24.9913 17.0362 26.5622 17.1909 27.9897 17.7822C29.4173 18.3735 30.6374 19.3749 31.4959 20.6596C32.3543 21.9444 32.8125 23.4548 32.8125 25C32.8125 27.072 31.9894 29.0591 30.5243 30.5243C29.0591 31.9894 27.072 32.8125 25 32.8125Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0_1_73">
              <rect width="50" height="50" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>

        <h1 class="font-sans text-xl sm:text-2xl text-transparent bg-clip-text bg-gradient-to-r from-white to-logoPurple">Ziabeher Phillips</h1>
		</div>

		<div class="flex gap-4">
			<div class="icon">
        <a href="https://github.com/Zabzx" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/><path d="M9 18c-4.51 2-5-2-7-2"/></svg>
        </a>
			</div>

			<div class="icon">
        <a href="https://twitter.com/zabzDev" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"/></svg>
        </a>
			</div>
		</div>
    </header>

    <div class="hero container px-16 flex justify-between items-center">
      <div class="hero-text w-full sm:w-1/2">
        <h1 class="text-2xl sm:text-6xl w-full mt-10 sm:mt-1 text-white">Developer Profile: Ziabeher Phillips</h1>
        <p class="mt-10 font-raleway text-white sm:leading-8">I’m a Front End Developer based in the Caribbean, Trinidad and Tobago. I aim to contribute and be a part of meaningful, high quality projects that aim to serve a purpose, solve real problems and make user’s lives easier.</p>
        <a href="/about">
        <button class="bg-fadedWhite p-3 rounded-md border-white border-4 text-white mt-5">Read More</button>
        </a>
      </div>

      <div class="hero-img hidden sm:block">
        <img class="w-hero h-hero" src={HeroImg.src} alt="">
      </div>
    </div>
  </section>
</Layout>
