---
import Layout from "../layouts/Layout.astro";
import '@fontsource/dela-gothic-one';
---

<Layout>
<section class="bg-mainBg bg-center bg-cover h-full sm:h-screen pb-28">
    <h1 class="font-sans text-3xl sm:text-6xl text-white container px-16 pt-6">My Tech Stack</h1>

    <div class="boxes flex flex-col sm:flex-row gap-5 justify-around text-white font-raleway container px-10 sm:px-16 mt-20">
        <div class="box1 w-full sm:w-96 bg-fadedBlack p-10 rounded-xl">
            <h1 class="text-2xl sm:text-3xl">Languages and Frameworks</h1>
            <ul class="sm:flex justify-between gap-10 mt-10 text-lg">
                <div class="space-y-6">
                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.5 20L27.5 15L22.5 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.5 10L2.5 15L7.5 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.125 5L11.875 25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    HTML
                </li>

                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.75 1.875L5.79492 25.0664L15 28.125L24.2051 25.0664L26.25 1.875H3.75ZM22.0957 6.5625L21.8145 9.33398L15.0586 12.2227L15.041 12.2285H21.5742L20.8242 20.8184L15.0703 22.5L9.28125 20.7891L8.90625 16.459H11.7715L11.959 18.7031L15.041 19.4824L18.2461 18.5801L18.4629 14.9707L8.71875 14.9414V14.9355L8.70703 14.9414L8.49609 12.2285L15.0645 9.49219L15.4453 9.33398H8.24414L7.9043 6.5625H22.0957Z" fill="white"/>
                        </svg>
                        
                    CSS
                </li>

                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.875 1.875V28.125H28.125V1.875H1.875ZM15.9375 22.2656C15.9375 24.8209 14.4281 26.0666 12.2432 26.0666C10.2697 26.0666 9.12422 25.0447 8.54297 23.8113L10.5516 22.5955C10.9389 23.2828 11.233 23.8641 12.0785 23.8641C12.7816 23.8641 13.3594 23.5471 13.3594 22.3137V14.0625H15.9375V22.2656ZM21.7588 26.008C19.4684 26.008 17.9883 24.9744 17.2658 23.5471L19.2773 22.3828C19.8047 23.2465 20.4932 23.8219 21.709 23.8219C22.7309 23.8219 23.3244 23.3695 23.3244 22.6646C23.3244 21.8191 22.7133 21.5197 21.5854 21.024L20.9689 20.7592C19.1889 20.0021 18.0088 19.0506 18.0088 17.0414C18.0088 15.1916 19.418 13.8404 21.6205 13.8404C23.1891 13.8404 24.3158 14.3279 25.1273 15.7553L23.2031 16.9922C22.7801 16.2346 22.3242 15.9375 21.6176 15.9375C20.8951 15.9375 20.4369 16.3957 20.4369 16.9922C20.4369 17.7322 20.8951 18.0316 21.9521 18.4898L22.5686 18.7541C24.6656 19.6529 25.8463 20.5705 25.8463 22.6307C25.8469 24.8514 24.1025 26.008 21.7588 26.008Z" fill="white"/>
                        </svg>
                        
                    JavaScript
                </li>

                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_68_127)">
                        <path d="M1.40625 0C0.6275 0 0 0.6275 0 1.40625V28.5938C0 29.3725 0.6275 30 1.40625 30H28.5938C29.3725 30 30 29.3725 30 28.5938V1.40625C30 0.6275 29.3725 0 28.5938 0H1.40625ZM23.11 12.1875C23.875 12.1875 24.5525 12.2338 25.1437 12.3263C25.7014 12.4098 26.2486 12.5523 26.7762 12.7513V15.8238C26.523 15.6486 26.2539 15.4975 25.9725 15.3725C25.6823 15.2419 25.3827 15.1333 25.0763 15.0475C24.4957 14.8857 23.8964 14.8017 23.2938 14.7975C22.9188 14.7975 22.5775 14.8325 22.27 14.905C21.9959 14.9636 21.733 15.0657 21.4913 15.2075C21.2788 15.3375 21.1162 15.4937 21 15.675C20.8831 15.8577 20.8222 16.0706 20.825 16.2875C20.825 16.5325 20.8913 16.7537 21.02 16.9487C21.15 17.1437 21.335 17.3288 21.5738 17.5037C21.8125 17.6788 22.1025 17.8488 22.4438 18.0163C22.785 18.185 23.1713 18.3588 23.6012 18.5363C24.1888 18.7825 24.7162 19.045 25.1838 19.3212C25.6512 19.5987 26.0525 19.9125 26.3875 20.2625C26.7225 20.6112 26.9775 21.01 27.155 21.4587C27.3325 21.9075 27.4225 22.4288 27.4225 23.025C27.4225 23.8463 27.2663 24.5375 26.9563 25.095C26.6534 25.6448 26.2187 26.1109 25.6912 26.4512C25.1227 26.8117 24.4926 27.0643 23.8325 27.1963C23.125 27.3463 22.3787 27.4212 21.595 27.4212C20.8236 27.4246 20.0536 27.356 19.295 27.2163C18.6387 27.1027 18.0021 26.8952 17.405 26.6V23.3125C18.5347 24.2739 19.9678 24.8052 21.4512 24.8125C21.8675 24.8125 22.2313 24.775 22.5413 24.7C22.8525 24.625 23.1112 24.52 23.32 24.3875C23.5275 24.2525 23.6825 24.095 23.7862 23.9125C23.9009 23.7 23.9531 23.4594 23.9367 23.2185C23.9203 22.9776 23.8361 22.7463 23.6938 22.5513C23.508 22.3055 23.2809 22.094 23.0225 21.9263C22.7021 21.7139 22.3647 21.5282 22.0138 21.3713C21.5978 21.1813 21.1781 20.9996 20.755 20.8262C19.6075 20.3475 18.7525 19.7612 18.1887 19.07C17.6262 18.3787 17.3438 17.5425 17.3438 16.5638C17.3438 15.7963 17.4975 15.1375 17.805 14.5862C18.1125 14.035 18.53 13.5813 19.06 13.225C19.6206 12.8552 20.2429 12.5889 20.8975 12.4388C21.6225 12.2678 22.3652 12.1835 23.11 12.1875ZM4.21875 12.4225H16.1725V15.13H11.8825V27.1875H8.48625V15.13H4.21875V12.4225Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_68_127">
                        <rect width="30" height="30" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                    Typescript
                </li>

                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.5039 10.3828C24.1875 10.2773 23.8711 10.1777 23.5547 10.084C23.6074 9.86719 23.6543 9.65039 23.7012 9.43359C24.4219 5.94141 23.9473 3.13477 22.3477 2.20898C20.8066 1.32422 18.293 2.24414 15.75 4.45898C15.498 4.67578 15.252 4.9043 15.0176 5.13281C14.8594 4.98047 14.6953 4.82812 14.5312 4.68164C11.8652 2.31445 9.19336 1.31836 7.59375 2.25C6.05859 3.14062 5.60156 5.7832 6.24609 9.08789C6.31055 9.41602 6.38086 9.73828 6.46289 10.0664C6.08789 10.1719 5.71875 10.2891 5.37305 10.4121C2.24414 11.4961 0 13.207 0 14.9766C0 16.8047 2.39063 18.6387 5.64258 19.752C5.90625 19.8398 6.16992 19.9277 6.43945 20.0039C6.35156 20.3555 6.27539 20.7012 6.20508 21.0586C5.58984 24.3105 6.07031 26.8887 7.60547 27.7734C9.1875 28.6875 11.8477 27.75 14.4375 25.4824C14.6426 25.3008 14.8477 25.1133 15.0527 24.9141C15.3105 25.166 15.5801 25.4062 15.8496 25.6406C18.3574 27.7969 20.8359 28.6699 22.3652 27.7852C23.9473 26.8711 24.4629 24.0996 23.7949 20.7246C23.7422 20.4668 23.6836 20.2031 23.6191 19.9336C23.8066 19.8809 23.9883 19.8223 24.1699 19.7637C27.5508 18.6445 30 16.834 30 14.9766C30 13.2012 27.6914 11.4785 24.5039 10.3828ZM16.5762 5.4082C18.7559 3.50977 20.7891 2.76562 21.7148 3.29883C22.7051 3.86719 23.0859 6.16406 22.4648 9.18164C22.4238 9.38086 22.3828 9.57422 22.3301 9.76758C21.0293 9.47461 19.7109 9.26367 18.3867 9.14648C17.625 8.05664 16.793 7.01367 15.8906 6.03516C16.1191 5.81836 16.3418 5.61328 16.5762 5.4082ZM9.79688 18.0176C10.0957 18.5273 10.4004 19.0371 10.7227 19.5352C9.80859 19.4355 8.90039 19.2891 8.00391 19.0957C8.26172 18.252 8.58398 17.3789 8.95898 16.4883C9.22852 17.0039 9.50391 17.5137 9.79688 18.0176ZM8.02148 10.9687C8.86523 10.7812 9.76172 10.6289 10.6934 10.5117C10.3828 10.998 10.0781 11.4961 9.79102 12C9.50391 12.498 9.22266 13.0078 8.95898 13.5234C8.58984 12.6504 8.2793 11.7949 8.02148 10.9687ZM9.62695 15.0059C10.0137 14.1973 10.4355 13.4062 10.8809 12.627C11.3262 11.8477 11.8066 11.0918 12.3105 10.3477C13.1895 10.2832 14.0859 10.248 15 10.248C15.9141 10.248 16.8164 10.2832 17.6895 10.3477C18.1875 11.0859 18.6621 11.8418 19.1133 12.6152C19.5645 13.3887 19.9863 14.1797 20.3848 14.9824C19.9922 15.791 19.5703 16.5879 19.1191 17.373C18.6738 18.1523 18.1992 18.9082 17.7012 19.6582C16.8281 19.7227 15.9199 19.752 15 19.752C14.0801 19.752 13.1895 19.7227 12.3281 19.6699C11.8184 18.9258 11.3379 18.1641 10.8867 17.3848C10.4355 16.6055 10.0195 15.8145 9.62695 15.0059ZM20.209 18.0059C20.5078 17.4902 20.7891 16.9687 21.0645 16.4414C21.4395 17.291 21.7676 18.1523 22.0547 19.0371C21.1465 19.2422 20.2266 19.4004 19.3008 19.5059C19.6172 19.0137 19.916 18.5098 20.209 18.0059ZM21.0527 13.5234C20.7773 13.0078 20.4961 12.4922 20.2031 11.9883C19.916 11.4902 19.6172 10.998 19.3066 10.5117C20.25 10.6289 21.1523 10.7871 21.9961 10.9805C21.7266 11.8477 21.4102 12.6914 21.0527 13.5234ZM15.0117 6.93164C15.627 7.59961 16.207 8.30273 16.7461 9.0293C15.5859 8.97656 14.4199 8.97656 13.2598 9.0293C13.834 8.27344 14.4258 7.57031 15.0117 6.93164ZM8.21484 3.33984C9.19922 2.76562 11.3848 3.58594 13.6875 5.625C13.834 5.75391 13.9805 5.89453 14.1328 6.03516C13.2246 7.01367 12.3867 8.05664 11.6191 9.14648C10.2949 9.26367 8.98242 9.46875 7.68164 9.75586C7.60547 9.45703 7.54102 9.15234 7.47656 8.84766C6.92578 6.01172 7.28906 3.87305 8.21484 3.33984ZM6.7793 18.7852C6.5332 18.7148 6.29297 18.6387 6.05273 18.5566C4.80469 18.1641 3.38672 17.543 2.36133 16.7285C1.76953 16.3184 1.37109 15.6855 1.25977 14.9766C1.25977 13.9043 3.11133 12.5332 5.7832 11.6016C6.11719 11.4844 6.45703 11.3789 6.79688 11.2793C7.19531 12.5508 7.67578 13.7988 8.23242 15.0059C7.66992 16.2305 7.18359 17.4961 6.7793 18.7852ZM13.6113 24.5273C12.6445 25.4121 11.5254 26.1152 10.3066 26.5957C9.65625 26.9062 8.90625 26.9355 8.23828 26.6719C7.30664 26.1328 6.91992 24.0645 7.44727 21.2812C7.51172 20.9531 7.58203 20.625 7.66406 20.3027C8.97656 20.584 10.3008 20.7773 11.6426 20.877C12.416 21.9727 13.2656 23.0215 14.1738 24.0059C13.9863 24.1875 13.7988 24.3633 13.6113 24.5273ZM15.0469 23.1035C14.4492 22.459 13.8516 21.7441 13.2715 20.9766C13.834 21 14.4141 21.0117 15 21.0117C15.6035 21.0117 16.1953 21 16.7812 20.9707C16.2422 21.7148 15.6621 22.4238 15.0469 23.1035ZM22.7051 24.8613C22.6523 25.5762 22.3008 26.2441 21.7383 26.6953C20.8066 27.2344 18.8203 26.5312 16.6758 24.6914C16.4297 24.4805 16.1836 24.252 15.9316 24.0176C16.8281 23.0273 17.6543 21.9785 18.4043 20.877C19.7461 20.7656 21.082 20.5605 22.4004 20.2617C22.459 20.502 22.5117 20.7422 22.5586 20.9766C22.8457 22.2422 22.8926 23.5605 22.7051 24.8613ZM23.7715 18.5625C23.6074 18.6152 23.4434 18.668 23.2734 18.7148C22.8633 17.4375 22.3594 16.1895 21.7793 14.9766C22.3418 13.7812 22.8164 12.5508 23.2148 11.291C23.5195 11.3789 23.8125 11.4727 24.0938 11.5664C26.8242 12.5039 28.7402 13.8984 28.7402 14.9648C28.7402 16.1133 26.6953 17.5957 23.7715 18.5625ZM15 17.6836C16.4824 17.6836 17.6836 16.4824 17.6836 15C17.6836 13.5176 16.4824 12.3164 15 12.3164C13.5176 12.3164 12.3164 13.5176 12.3164 15C12.3164 16.4824 13.5176 17.6836 15 17.6836Z" fill="white"/>
                        </svg>
                        
                    ReactJS
                </li>
                </div>

                <div class="space-y-6">
                <li class="flex gap-3 items-center mt-5 sm:mt-0">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_68_131)">
                        <path d="M15.0013 6C11.0013 6 8.50125 8 7.50125 12C9.00125 10 10.7513 9.25 12.7513 9.75C13.8925 10.035 14.7075 10.8625 15.6113 11.78C17.0825 13.2725 18.7838 15 22.5013 15C26.5013 15 29.0013 13 30.0013 9C28.5013 11 26.7513 11.75 24.7513 11.25C23.61 10.965 22.795 10.1375 21.8913 9.22C20.4213 7.7275 18.72 6 15.0013 6ZM7.50125 15C3.50125 15 1.00125 17 0.00125122 21C1.50125 19 3.25125 18.25 5.25125 18.75C6.3925 19.035 7.2075 19.8625 8.11125 20.78C9.5825 22.2725 11.2838 24 15.0013 24C19.0013 24 21.5013 22 22.5013 18C21.0013 20 19.2513 20.75 17.2513 20.25C16.11 19.965 15.295 19.1375 14.3913 18.22C12.9213 16.7275 11.22 15 7.50125 15Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_68_131">
                        <rect width="30" height="30" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                    TailwindCSS
                </li>

                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.25 2.5L3.75 17.5H15L13.75 27.5L26.25 12.5H15L16.25 2.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    ChakraUI
                </li>

                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.6445 11.7481C27.1934 9.93758 26.3379 8.57234 24.5156 8.57234H22.166V11.3497C22.166 13.5059 20.3379 15.3223 18.252 15.3223H11.9941C10.2832 15.3223 8.86523 16.7872 8.86523 18.504V24.4688C8.86523 26.168 10.3418 27.1641 11.9941 27.6505C13.9746 28.2305 15.8789 28.336 18.252 27.6505C19.8281 27.1934 21.3809 26.2735 21.3809 24.4688V22.0841H15.1289V21.2872H24.5156C26.3379 21.2872 27.0117 20.0157 27.6445 18.1114C28.3008 16.1485 28.2715 14.2618 27.6445 11.7481ZM18.6445 23.6719C19.2949 23.6719 19.8223 24.2052 19.8223 24.8614C19.8223 25.5235 19.2949 26.0567 18.6445 26.0567C18 26.0567 17.4668 25.5177 17.4668 24.8614C17.4727 24.1993 18 23.6719 18.6445 23.6719ZM11.707 14.5372H17.9648C19.7051 14.5372 21.0937 13.1016 21.0937 11.3555V5.38484C21.0937 3.68562 19.6641 2.41414 17.9648 2.12703C15.8672 1.78133 13.5879 1.7989 11.707 2.13289C9.05859 2.60164 8.57812 3.58015 8.57812 5.3907V7.77547H14.8418V8.57234H6.22851C4.40625 8.57234 2.8125 9.66804 2.31445 11.7481C1.74023 14.1329 1.7168 15.6212 2.31445 18.1114C2.75976 19.963 3.82031 21.2872 5.64258 21.2872H7.79297V18.4278C7.79297 16.3594 9.58008 14.5372 11.707 14.5372ZM11.3145 6.18172C10.6641 6.18172 10.1367 5.64851 10.1367 4.99226C10.1426 4.33015 10.6641 3.79695 11.3145 3.79695C11.959 3.79695 12.4922 4.33601 12.4922 4.99226C12.4922 5.64851 11.9648 6.18172 11.3145 6.18172Z" fill="white"/>
                        </svg>
                        
                    Python
                </li>

                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_68_137)">
                        <path d="M18.7547 12.1313C18.2437 12.2626 17.8219 12.3329 17.3906 12.4876C17.0484 12.5766 16.7016 12.6704 16.3031 12.7735L16.275 12.7782C16.0781 12.8344 16.0594 12.8391 15.8766 12.6282C15.6562 12.3798 15.4969 12.2204 15.1922 12.0704C14.2687 11.6204 13.3781 11.7516 12.5484 12.2907C11.5547 12.9329 11.0437 13.8844 11.0578 15.0657C11.0719 16.2376 11.8734 17.1985 12.9891 17.3579C14.0203 17.4891 14.8547 17.1423 15.5109 16.3969C15.6094 16.2751 15.6984 16.1485 15.7969 16.0079C15.8344 15.961 15.8672 15.9094 15.9047 15.8532H13.0875C12.7828 15.8532 12.7078 15.6657 12.8109 15.4173C12.9984 14.9626 13.35 14.2032 13.5562 13.8235C13.5984 13.7391 13.7016 13.5516 13.8797 13.5516H18.6187C18.8297 12.9235 19.1719 12.2907 19.6312 11.6907C20.6953 10.2891 21.9422 9.55788 23.7187 9.25319C25.2094 8.99069 26.6109 9.13601 27.8859 9.99851C29.0391 10.786 29.7516 11.8548 29.9437 13.2563C30.1922 15.2298 29.6203 16.8329 28.2234 18.2063C27.3 19.186 26.1187 19.8001 24.7594 20.0766C24.4969 20.1235 24.2391 20.1469 23.9859 20.1704C23.85 20.1798 23.7187 20.1938 23.5875 20.2079C22.2609 20.1798 21.0469 19.8001 20.025 18.9235C19.3078 18.3001 18.8109 17.536 18.5672 16.6501C18.3937 16.9923 18.1922 17.3251 17.9109 17.6391C16.8984 19.0266 15.525 19.8891 13.7906 20.1188C12.3562 20.311 11.0297 20.0344 9.85781 19.1579C8.77969 18.3376 8.16563 17.2594 8.00625 15.9141C7.81406 14.3204 8.28281 12.8485 9.24375 11.6344C10.2844 10.2751 11.6578 9.41257 13.3359 9.10788C14.7094 8.81726 16.0219 9.01882 17.2078 9.82507C17.9812 10.336 18.5344 11.0344 18.9 11.8829C18.9891 12.0141 18.9281 12.0891 18.7547 12.1313ZM2.26406 12.3938C2.20547 12.3938 2.19094 12.3657 2.22 12.3188L2.52703 11.9251C2.55609 11.8829 2.62922 11.8548 2.68781 11.8548H7.90313C7.95938 11.8548 7.97344 11.8969 7.94531 11.9391L7.69688 12.3188C7.66875 12.3657 7.59375 12.4079 7.55156 12.4079L2.26406 12.3938ZM0.0584069 13.7391C6.92904e-07 13.7391 -0.0146056 13.7063 0.0146069 13.6641L0.321329 13.2704C0.350579 13.2282 0.42361 13.1954 0.481876 13.1954H7.14375C7.2 13.1954 7.22812 13.2423 7.21406 13.2844L7.09687 13.636C7.08281 13.6923 7.02656 13.7251 6.96563 13.7251L0.0584069 13.7391ZM3.54938 14.9954C3.52031 15.0376 3.53484 15.0798 3.59297 15.0798L6.77813 15.0938C6.82031 15.0938 6.88125 15.0516 6.88125 14.9954L6.90937 14.6438C6.90937 14.5829 6.88125 14.5407 6.82031 14.5407H3.9C3.84141 14.5407 3.78328 14.5829 3.75375 14.6298L3.54938 14.9954ZM27.0562 14.1516C27.0469 14.0298 27.0422 13.9266 27.0234 13.8235C26.7609 12.3798 25.4297 11.5594 24.0422 11.8829C22.6828 12.1876 21.8062 13.0501 21.4875 14.4235C21.225 15.5626 21.7781 16.7157 22.8281 17.1844C23.6344 17.536 24.4359 17.4938 25.2094 17.0954C26.3625 16.4579 26.9906 15.5626 27.0656 14.3063C27.0609 14.2501 27.0609 14.1985 27.0562 14.1516Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_68_137">
                        <rect width="30" height="30" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                    Go
                </li>
                </div>
            </ul>
        </div>

        <div class="box2 w-full sm:w-96 bg-fadedBlack p-10 rounded-xl">
            <h1 class="text-3xl text-center">Tooling</h1>
            <ul class="text-lg mt-10 space-y-4">
                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.57031 5.61284C4.57031 2.51295 7.08327 0 10.1832 0H19.8141C22.914 0 25.427 2.51295 25.427 5.61284C25.427 7.5757 24.4194 9.30328 22.8932 10.3065C24.4194 11.3097 25.427 13.0372 25.427 15.0001C25.427 18.1 22.914 20.613 19.8141 20.613H19.6922C18.239 20.613 16.9147 20.0607 15.9179 19.1545V24.3262C15.9179 27.4674 13.3393 30 10.2134 30C7.12126 30 4.57031 27.4947 4.57031 24.3871C4.57031 22.4244 5.5778 20.6969 7.10386 19.6937C5.5778 18.6904 4.57031 16.9629 4.57031 15.0001C4.57031 13.0372 5.57789 11.3097 7.10405 10.3065C5.57789 9.30328 4.57031 7.5757 4.57031 5.61284ZM14.0794 11.2258H10.1832C8.09866 11.2258 6.40886 12.9156 6.40886 15.0001C6.40886 17.0766 8.08563 18.7614 10.159 18.7744C10.1671 18.7743 10.1751 18.7743 10.1832 18.7743H14.0794V11.2258ZM15.9179 15.0001C15.9179 17.0846 17.6077 18.7744 19.6922 18.7744H19.8141C21.8987 18.7744 23.5884 17.0846 23.5884 15.0001C23.5884 12.9156 21.8987 11.2258 19.8141 11.2258H19.6922C17.6077 11.2258 15.9179 12.9156 15.9179 15.0001ZM10.1832 20.613C10.1751 20.613 10.1671 20.6129 10.159 20.6129C8.08563 20.6259 6.40886 22.3107 6.40886 24.3871C6.40886 26.464 8.12124 28.1614 10.2134 28.1614C12.3393 28.1614 14.0794 26.4367 14.0794 24.3262V20.613H10.1832ZM10.1832 1.83854C8.09866 1.83854 6.40886 3.52836 6.40886 5.61284C6.40886 7.69734 8.09866 9.38713 10.1832 9.38713H14.0794V1.83854H10.1832ZM15.9179 9.38713H19.8141C21.8987 9.38713 23.5884 7.69734 23.5884 5.61284C23.5884 3.52836 21.8987 1.83854 19.8141 1.83854H15.9179V9.38713Z" fill="white"/>
                        </svg>
                        
                    Figma
                </li>

                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.4125 12.0999L27.5 14.7499V14.6124C27.4125 14.3124 27.15 14.0499 26.625 13.5249L24.125 11.0249L21.5375 12.1124L21.4125 12.0999ZM15.25 9.04991C15.3535 9.23121 15.4214 9.43062 15.45 9.63741L19.2 11.2499C19.3117 11.1743 19.4338 11.1153 19.5625 11.0749L20.1625 7.32491L17.6625 4.82491L15.225 8.94991C15.225 8.94991 15.225 9.01241 15.25 9.04991ZM13.2625 8.74992C13.4352 8.61044 13.6391 8.51484 13.8568 8.47131C14.0745 8.42777 14.2994 8.43759 14.5125 8.49992H14.575L17.275 4.32491L16.45 3.49991C15.925 2.97491 15.6625 2.71241 15.3625 2.62491C15.1069 2.54007 14.8306 2.54007 14.575 2.62491C14.275 2.71241 14.0125 2.97491 13.4875 3.49991L9.7375 7.24992C10.125 7.42491 12.8625 8.57491 13.2125 8.73741L13.2625 8.74992ZM9.3625 15.3624H9.7C9.82053 15.3503 9.94197 15.3503 10.0625 15.3624L13.0375 10.7624V10.6874C12.8833 10.5356 12.7711 10.3464 12.7119 10.1382C12.6528 9.93008 12.6487 9.71013 12.7 9.49991L11.25 8.74992L9.125 7.83741L6.25 10.7624L9.3875 15.3374L9.3625 15.3624ZM18.8875 12.3124V12.2124C18.8806 12.1543 18.8806 12.0955 18.8875 12.0374L15.3125 10.4499H15.25C15.1297 10.6314 14.9663 10.7801 14.7742 10.8827C14.5822 10.9852 14.3677 11.0384 14.15 11.0374H13.9375C13.9375 11.0374 13.875 11.0374 13.8625 11.0999L10.9125 15.6249V15.6874L18.825 12.3124C18.825 12.3124 18.8875 12.3374 18.8875 12.3124ZM20.5875 11.1749C20.7103 11.2321 20.8207 11.3128 20.9125 11.4124L23.4125 10.3624L21.05 8.02492L20.55 11.1124L20.5875 11.1749ZM17.725 18.0999C17.824 17.9152 17.9721 17.7614 18.153 17.6555C18.3338 17.5496 18.5405 17.4958 18.75 17.4999V17.4374L19.425 13.2249L19.3125 13.1249L11.25 16.4374C11.2891 16.5481 11.3224 16.6608 11.35 16.7749L17.725 18.0999ZM17.675 18.9124L11.15 17.4999V17.5749L16.8375 26.2499L17.3625 25.7124C17.55 24.5624 18.25 20.2999 18.3375 19.8124C18.1582 19.7331 18.0028 19.6084 17.8866 19.4505C17.7704 19.2926 17.6974 19.1071 17.675 18.9124ZM19.7375 19.3124C19.6193 19.462 19.4642 19.5783 19.2875 19.6499L18.4875 24.5749L23.0375 19.9999L19.7375 19.3124ZM21.075 12.8999C21.0633 12.8944 21.0505 12.8915 21.0375 12.8915C21.0245 12.8915 21.0117 12.8944 21 12.8999C20.8116 13.1363 20.5376 13.289 20.2375 13.3249V13.3999L19.55 17.6499C19.6706 17.7427 19.7706 17.8595 19.8438 17.9929C19.9169 18.1262 19.9616 18.2734 19.975 18.4249H20.05L23.7375 19.1874L26.5875 16.3374C26.8935 16.0619 27.1662 15.7514 27.4 15.4124L21.075 12.8999ZM10.375 18.2374C10.0276 18.3624 9.64743 18.3624 9.3 18.2374L7.775 20.6124L13.6375 26.4624C13.9333 26.8317 14.3039 27.1342 14.725 27.3499C14.9806 27.4348 15.2569 27.4348 15.5125 27.3499C15.8542 27.1985 16.1543 26.967 16.3875 26.6749L10.525 18.1749L10.375 18.2374ZM7.9875 16.9874C7.9875 16.9874 8.0625 16.9874 8.0625 16.9249C8.0625 16.8624 8.0625 16.9249 7.9875 16.9249L2.8125 15.8499C3.01302 16.0859 3.22582 16.3112 3.45 16.5249L5.15 18.2249L7.9875 16.9749V16.9874ZM8.3375 16.1624C8.40217 16.0372 8.48659 15.9233 8.5875 15.8249V15.7499C7.625 14.2499 6.625 12.7999 5.625 11.3374L3.4375 13.5249C2.9125 14.0499 2.65 14.3124 2.5625 14.6124C2.51456 14.7357 2.49326 14.8678 2.5 14.9999L8.3375 16.2499V16.1624ZM8.55 17.8249C8.51673 17.7863 8.48741 17.7444 8.4625 17.6999L5.7375 18.7499L7.0875 20.1249L8.55 17.8499C8.55 17.8499 8.5625 17.8249 8.55 17.8249Z" fill="white"/>
                        </svg>
                        
                    Netlilfy
                </li>

                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.76895 19.5844C10.6148 19.7783 11.223 19.708 11.223 20.284C11.223 21.4559 7.38223 21.4594 7.38223 20.373C7.38281 20.0748 7.575 19.8223 7.76895 19.5844ZM9.40664 12.75C7.51465 12.75 7.4291 15.3557 9.3627 15.3557C11.2676 15.3557 11.2207 12.75 9.40664 12.75ZM28.125 4.6875V25.3125C28.125 26.0584 27.8287 26.7738 27.3012 27.3012C26.7738 27.8287 26.0584 28.125 25.3125 28.125H4.6875C3.94158 28.125 3.22621 27.8287 2.69876 27.3012C2.17132 26.7738 1.875 26.0584 1.875 25.3125L1.875 4.6875C1.875 3.94158 2.17132 3.22621 2.69876 2.69876C3.22621 2.17132 3.94158 1.875 4.6875 1.875H25.3125C26.0584 1.875 26.7738 2.17132 27.3012 2.69876C27.8287 3.22621 28.125 3.94158 28.125 4.6875ZM14.8242 8.74863C14.8242 9.59766 15.3152 10.0893 16.1637 10.0893C17.0273 10.0893 17.5189 9.59766 17.5189 8.74863C17.5189 7.89961 17.0285 7.44141 16.1648 7.44141C15.3164 7.44141 14.8242 7.90078 14.8242 8.74863ZM13.5457 11.4258H10.6424C9.17754 11.042 5.86348 11.1416 5.86348 14.165C5.86348 15.2666 6.41426 16.04 7.14375 16.398C6.22441 17.24 5.78906 17.6367 5.78906 18.1992C5.78906 18.6018 5.95254 18.9738 6.44414 19.1812C5.92266 19.6734 5.62383 20.0297 5.62383 20.7C5.625 21.876 6.65215 22.5586 9.34687 22.5586C11.9379 22.5586 13.4408 21.5912 13.4408 19.8791C13.4408 17.7305 11.7867 17.8096 7.88789 17.5717L8.37891 16.7848C9.375 17.0625 12.726 17.1498 12.726 14.2986C12.726 13.6137 12.443 13.1373 12.1752 12.7945L13.5451 12.6902L13.5457 11.4258ZM18.4875 17.8617L17.7258 17.7574C17.502 17.7275 17.4873 17.6988 17.4873 17.4592V11.2805H14.4053L14.2418 12.4857C15.1646 12.8109 15.2379 12.7705 15.2379 13.0816V17.4609C15.2379 17.7902 15.2197 17.7293 14.2418 17.8635V19.0389H18.4852L18.4875 17.8617ZM24.375 18.457L23.9725 17.1463C21.5742 18.0469 21.7547 16.4191 21.7547 16.166V12.6082H23.9725V11.1193H21.8736C21.7055 11.1193 21.7564 11.267 21.7564 8.85586H20.3396C20.1762 10.4789 19.6553 11.134 18.3475 11.2828V12.6082C19.5469 12.6082 19.5088 12.5584 19.5088 12.757V16.6576C19.5088 18.3404 20.1785 19.0547 21.9504 19.0547C22.7971 19.0547 23.7346 18.7717 24.375 18.457Z" fill="white"/>
                        </svg>
                        
                    Git
                </li>

                <li class="flex gap-3 items-center">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.1895 23.2852C10.1895 23.4023 10.0547 23.4961 9.88477 23.4961C9.69141 23.5137 9.55664 23.4199 9.55664 23.2852C9.55664 23.168 9.69141 23.0742 9.86133 23.0742C10.0371 23.0566 10.1895 23.1504 10.1895 23.2852ZM8.36719 23.0215C8.32617 23.1387 8.44336 23.2734 8.61914 23.3086C8.77148 23.3672 8.94727 23.3086 8.98242 23.1914C9.01758 23.0742 8.90625 22.9395 8.73047 22.8867C8.57812 22.8457 8.4082 22.9043 8.36719 23.0215ZM10.957 22.9219C10.7871 22.9629 10.6699 23.0742 10.6875 23.209C10.7051 23.3262 10.8574 23.4023 11.0332 23.3613C11.2031 23.3203 11.3203 23.209 11.3027 23.0918C11.2852 22.9805 11.127 22.9043 10.957 22.9219ZM14.8125 0.46875C6.68555 0.46875 0.46875 6.63867 0.46875 14.7656C0.46875 21.2637 4.55859 26.8242 10.4004 28.7812C11.1504 28.916 11.4141 28.4531 11.4141 28.0723C11.4141 27.709 11.3965 25.7051 11.3965 24.4746C11.3965 24.4746 7.29492 25.3535 6.43359 22.7285C6.43359 22.7285 5.76562 21.0234 4.80469 20.584C4.80469 20.584 3.46289 19.6641 4.89844 19.6816C4.89844 19.6816 6.35742 19.7988 7.16016 21.1934C8.44336 23.4551 10.5938 22.8047 11.4316 22.418C11.5664 21.4805 11.9473 20.8301 12.3691 20.4434C9.09375 20.0801 5.78906 19.6055 5.78906 13.9688C5.78906 12.3574 6.23438 11.5488 7.17188 10.5176C7.01953 10.1367 6.52148 8.56641 7.32422 6.53906C8.54883 6.1582 11.3672 8.12109 11.3672 8.12109C12.5391 7.79297 13.7988 7.62305 15.0469 7.62305C16.2949 7.62305 17.5547 7.79297 18.7266 8.12109C18.7266 8.12109 21.5449 6.15234 22.7695 6.53906C23.5723 8.57227 23.0742 10.1367 22.9219 10.5176C23.8594 11.5547 24.4336 12.3633 24.4336 13.9688C24.4336 19.623 20.9824 20.0742 17.707 20.4434C18.2461 20.9062 18.7031 21.7852 18.7031 23.1621C18.7031 25.1367 18.6855 27.5801 18.6855 28.0605C18.6855 28.4414 18.9551 28.9043 19.6992 28.7695C25.5586 26.8242 29.5312 21.2637 29.5312 14.7656C29.5312 6.63867 22.9395 0.46875 14.8125 0.46875ZM6.16406 20.6777C6.08789 20.7363 6.10547 20.8711 6.20508 20.9824C6.29883 21.0762 6.43359 21.1172 6.50977 21.041C6.58594 20.9824 6.56836 20.8477 6.46875 20.7363C6.375 20.6426 6.24023 20.6016 6.16406 20.6777ZM5.53125 20.2031C5.49023 20.2793 5.54883 20.373 5.66602 20.4316C5.75977 20.4902 5.87695 20.4727 5.91797 20.3906C5.95898 20.3145 5.90039 20.2207 5.7832 20.1621C5.66602 20.127 5.57227 20.1445 5.53125 20.2031ZM7.42969 22.2891C7.33594 22.3652 7.37109 22.541 7.50586 22.6523C7.64062 22.7871 7.81055 22.8047 7.88672 22.7109C7.96289 22.6348 7.92773 22.459 7.81055 22.3477C7.68164 22.2129 7.50586 22.1953 7.42969 22.2891ZM6.76172 21.4277C6.66797 21.4863 6.66797 21.6387 6.76172 21.7734C6.85547 21.9082 7.01367 21.9668 7.08984 21.9082C7.18359 21.832 7.18359 21.6797 7.08984 21.5449C7.00781 21.4102 6.85547 21.3516 6.76172 21.4277Z" fill="white"/>
                        </svg>
                        
                    GitHub
                </li>

                <li class="flex gap-3 items-center">
                    <svg width="30" height="40" viewBox="0 0 30 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_68_147)">
                        <path d="M21.4912 15.925C19.9112 6.625 16.1762 3.56833 15.775 2.4C15.425 1.74333 15.1125 0.81 14.8562 0C14.8112 0.825 14.7875 1.14167 14.2025 1.97333C13.2987 2.91667 8.65499 8.11 8.27749 18.6733C7.92499 28.5267 13.615 34.3983 14.3875 35.1467L14.475 35.23C14.6358 36.8163 14.7734 38.4066 14.8875 40H15.4887C15.6312 38.28 15.8437 36.5733 16.1262 34.8833C16.6475 34.39 16.8812 34.1117 17.1887 33.7283C18.6449 31.9322 19.8022 29.7485 20.5858 27.3186C21.3693 24.8886 21.7617 22.2665 21.7375 19.6217C21.75 18.265 21.6087 16.8517 21.4912 15.925ZM14.8212 29.5833C14.8212 29.5833 14.8212 15.765 15.165 15.7667C15.4312 15.7667 15.7775 33.5917 15.7775 33.5917C15.3012 33.5167 14.8212 30.6583 14.8212 29.5833Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_68_147">
                        <rect width="30" height="40" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                    MongoDB
                </li>
            </ul>
        </div>
    </div>
</section>
</Layout>